@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Bem vindo a Parmezani Universidade</h2>
        <p>
            Parmezani Universidadeé uma aplicação simples que demonstra como utilizar o Entity Framework 6 e também o ASP NET MVC 5.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc">Learn more &raquo;</a></p>
    </div>





















































    <div class="col-md-6">
        <h2>Aproveite os vídeos sobre tecnologia Microsoft</h2>
        <p>Você pode vermuito mais vídeos sobre tecnologia acessando o canal no youtube Parmezani.net</p>
        <p><a class="btn btn-default" href="http://www.youtube.com/parmezaninet">Learn more &raquo;</a></p>
    </div>
</div>